<html>
    <head>
        <title>Cadastrar Produto</title>
        {{> bootstrap}}
    </head>
    <body>
        <div class="container-sm p-5">
            <div class="d-flex justify-content-end">
                <a href="/produtos">Listagem de Produtos</a>
            </div>
            <form action="/products" method="post">
                <label for="name" class="form-label">Nome:</label>
                <input type="text" class="form-control" name='name' id="name" />
                
                <label for="price" class="form-label">Preço:</label>
                <input type="number" class="form-control" name="price" id="price" />

                <div class="d-flex justify-content-center my-2">
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                
                {{#if successMessage}}
                    <div class="alert alert-success" role="alert">{{successMessage}}</div>
                {{/if}}

                {{#if errorMessage}}
                    <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
                {{/if}}
            </form>
        </div>
    </body>
</html>